<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="approver">

	<select id="getApproverListCnt" resultType="int">
		SELECT COUNT(*)
		FROM APPROVAL_DOCUMENT AD
		JOIN MEMBER M ON M.NO = AD.MEMBER_NO
		WHERE M.DEPARTMENT_NO = #{departmentNo}
		AND M.NO != #{no}
	</select>
	
	<select id="getApproverList" resultType="com.kh.app.approver.vo.ApproverVo">
		SELECT
	        AD.NO NO,
	        AD.MEMBER_NO MEMBER_NO,
	        AD.CREATE_DATE CREATE_DATE,
	        AD.TITLE TITLE,
	        M.NAME AS MEMBER_NAME,
	        AD.STATUS STATUS
	    FROM APPROVAL_DOCUMENT AD
	    JOIN MEMBER M ON M.NO = AD.MEMBER_NO
	    WHERE DEPARTMENT_NO = #{departmentNo}
	    AND M.NO != #{approverNo}
	    ORDER BY AD.NO DESC
	</select>
	
	<update id="refuseUpdateStatus">
		UPDATE APPROVAL_DOCUMENT SET STATUS = 'R', REASON = #{reason}
		WHERE NO = #{approvalDocumentNo}
	</update>

	<insert id="refuseInsertApprover">
		INSERT INTO
		APPROVER
		(
			NO,
			APPROVAL_DOCUMENT_NO,
			APPROVER_NO,
			APPROVAL_DATE,
			REASON,
			STATUS
		)
		VALUES
		(
			SEQ_APPROVER_NO.NEXTVAL,
			#{approvalDocumentNo},
			#{approverNo},
			SYSDATE,
			#{reason},
			'R'
		)
	</insert>

	<update id="approvalUpdateStatus">
		UPDATE APPROVAL_DOCUMENT SET STATUS = 'F'
		WHERE NO = #{approvalDocumentNo}
	</update>

	<insert id="approvalInsertApprover">
		INSERT INTO
		APPROVER
		(
			NO,
			APPROVAL_DOCUMENT_NO,
			APPROVER_NO,
			APPROVAL_DATE,
			REASON,
			STATUS
		)
		VALUES
		(
			SEQ_APPROVER_NO.NEXTVAL,
			#{approvalDocumentNo},
			#{approverNo},
			SYSDATE,
			#{reason},
			'F'
		)
	</insert>

	<!-- 재고 결재자 페이지 -->
	<select id="detailApprovalInventory" resultType="com.kh.app.approver.vo.AdminApproverVo">
		SELECT 
		    AD.NO NO,
		    AD.MEMBER_NO MEMBER_NO,
		    AD.CREATE_DATE CREATE_DATE,
		    M.NAME MEMBER_NAME,
		    M.SIGN SIGN,
		    D.NAME DEPARTMENT_NAME,
            AM.NAME APPROVER_NAME,
            AP.NAME APPROVER_POSITION_NAME,
            AD.NAME APPROVER_DEPARTMENT_NAME,
			AD.STATUS STATUS,
			A.APPROVAL_DATE APPROVAL_DATE,
            P.NAME POSITION_NAME,
            AM.SIGN APPROVER_SIGN,
            AD.REASON REASON,
            AD.COMPLETE_DATE COMPLETE_DATE
		FROM APPROVAL_DOCUMENT AD
		JOIN MEMBER M ON AD.MEMBER_NO = M.NO
		JOIN DEPARTMENT D ON D.NO = M.DEPARTMENT_NO
		JOIN POSITION P ON P.NO = M.POSITION_NO
		JOIN APPROVER A ON AD.NO = A.APPROVAL_DOCUMENT_NO
        JOIN MEMBER AM ON AM.NO = A.APPROVER_NO
        JOIN POSITION AP ON AM.POSITION_NO = AP.NO
        JOIN DEPARTMENT AD ON AM.DEPARTMENT_NO = AD.NO	
		WHERE AD.NO = #{no}
	</select>
	
	<!-- 휴가 결재자 페이지 -->
	<select id="detailApprovalVacation" resultType="com.kh.app.approver.vo.AdminApproverVo">
		SELECT 
		    AD.NO NO,
		    AD.MEMBER_NO MEMBER_NO,
		    AD.CREATE_DATE CREATE_DATE,
		    VAD.CONTENT CONTENT,
		    VAD.START_DATE START_DATE,
		    VAD.END_DATE END_DATE,
		    M.NAME MEMBER_NAME,
		    M.SIGN SIGN,
		    D.NAME DEPARTMENT_NAME,
            AM.NAME APPROVER_NAME,
            AP.NAME APPROVER_POSITION_NAME,
            AD.NAME APPROVER_DEPARTMENT_NAME,
			AD.STATUS STATUS,
			A.APPROVAL_DATE APPROVAL_DATE,
            P.NAME POSITION_NAME,
            AM.SIGN APPROVER_SIGN,
            AD.REASON REASON,
            AD.COMPLETE_DATE COMPLETE_DATE
		FROM APPROVAL_DOCUMENT AD
		JOIN MEMBER M ON AD.MEMBER_NO = M.NO
		JOIN DEPARTMENT D ON D.NO = M.DEPARTMENT_NO
		JOIN POSITION P ON P.NO = M.POSITION_NO
		JOIN VACATION_APPROVAL_DOCUMENT VAD ON AD.NO = VAD.APPROVAL_DOCUMENT_NO
		JOIN APPROVER A ON AD.NO = A.APPROVAL_DOCUMENT_NO
        JOIN MEMBER AM ON AM.NO = A.APPROVER_NO
        JOIN POSITION AP ON AM.POSITION_NO = AP.NO
        JOIN DEPARTMENT AD ON AM.DEPARTMENT_NO = AD.NO		
		WHERE AD.NO = #{no}
	</select>
	
	<!-- 출장 결재자 페이지 -->
	<select id="detailApprovalTrip" resultType="com.kh.app.approver.vo.AdminApproverVo">
		SELECT 
		    AD.NO NO,
		    AD.MEMBER_NO MEMBER_NO,
		    AD.CREATE_DATE CREATE_DATE,
		    BTAD.CONTENT CONTENT,
		    BTAD.START_DATE START_DATE,
		    BTAD.END_DATE END_DATE,
		    M.NAME MEMBER_NAME,
		    M.SIGN SIGN,
		    D.NAME DEPARTMENT_NAME,
            AM.NAME APPROVER_NAME,
            AP.NAME APPROVER_POSITION_NAME,
            AD.NAME APPROVER_DEPARTMENT_NAME,
			AD.STATUS STATUS,
			A.APPROVAL_DATE APPROVAL_DATE,
            P.NAME POSITION_NAME,
            AM.SIGN APPROVER_SIGN,
            AD.REASON REASON,
            AD.COMPLETE_DATE COMPLETE_DATE
		FROM APPROVAL_DOCUMENT AD
		JOIN MEMBER M ON AD.MEMBER_NO = M.NO
		JOIN DEPARTMENT D ON D.NO = M.DEPARTMENT_NO
		JOIN POSITION P ON P.NO = M.POSITION_NO
		JOIN BUSINESS_TRIP_APPROVAL_DOCUMENT BTAD ON AD.NO = BTAD.APPROVAL_DOCUMENT_NO
		JOIN APPROVER A ON AD.NO = A.APPROVAL_DOCUMENT_NO
        JOIN MEMBER AM ON AM.NO = A.APPROVER_NO
        JOIN POSITION AP ON AM.POSITION_NO = AP.NO
        JOIN DEPARTMENT AD ON AM.DEPARTMENT_NO = AD.NO		
		WHERE AD.NO = #{no}
	</select>
	
	<!-- 출장 결재자 페이지 -->
	
	<select id="getStatus" resultType="com.kh.app.approver.vo.ApproverVo">
		SELECT 
			STATUS
		FROM APPROVAL_DOCUMENT
		WHERE NO = #{no}
	</select>
	
	<select id="getAdminListCnt" resultType="int">
		SELECT COUNT(*)
		FROM APPROVAL_DOCUMENT
		WHERE STATUS = 'F'
		OR STATUS = 'A'
		OR STATUS = 'O'
	</select>
	
	<select id="getAdminList" resultType="com.kh.app.approver.vo.ApproverVo">
		SELECT
		    AD.NO,
		    AD.MEMBER_NO,
		    AD.CREATE_DATE,
		    AD.TITLE,
		    M.NAME MEMBER_NAME,
		    AD.STATUS,
		    A.APPROVAL_DATE
		FROM APPROVAL_DOCUMENT AD
		JOIN MEMBER M ON AD.MEMBER_NO = M.NO
		JOIN APPROVER A ON AD.NO = A.APPROVAL_DOCUMENT_NO
		WHERE AD.STATUS = 'F'
		OR AD.STATUS = 'A'
		OR AD.STATUS = 'O'
		ORDER BY APPROVAL_DATE DESC
	</select>

	<select id="detailApprovalAdminVacation" resultType="com.kh.app.approver.vo.AdminApproverVo">
		SELECT 
		    AD.NO AS NO,
		    AD.CREATE_DATE AS CREATE_DATE,
		    AD.TITLE AS TITLE,
		    AD.STATUS AS STATUS,
		    VAD.START_DATE AS START_DATE,
		    VAD.END_DATE AS END_DATE,
		    VAD.CONTENT AS CONTENT,
		    A.APPROVER_NO AS APPROVAL_NO,
		    AD.MEMBER_NO AS MEMBER_NO,
		    M.NAME AS MEMBER_NAME,
		    P.NAME AS POSITION_NAME,
		    D.NAME AS DEPARTMENT_NAME,
		    AP.NAME AS APPROVER_POSITION_NAME,
		    AM.NAME APPROVER_NAME,
		    AD.NAME AS APPROVER_DEPARTMENT_NAME,
		    A.APPROVAL_DATE APPROVAL_DATE,
		    A.REASON AS REASON,
		    M.SIGN SIGN,
		    AM.SIGN APPROVER_SIGN,
			AD.COMPLETE_DATE COMPLETE_DATE 
		FROM APPROVAL_DOCUMENT AD
		JOIN MEMBER M ON AD.MEMBER_NO = M.NO
		JOIN VACATION_APPROVAL_DOCUMENT VAD ON AD.NO = VAD.APPROVAL_DOCUMENT_NO
		JOIN APPROVER A ON AD.NO = A.APPROVAL_DOCUMENT_NO
		JOIN POSITION P ON P.NO = M.POSITION_NO
		JOIN DEPARTMENT D ON D.NO = M.DEPARTMENT_NO
		JOIN MEMBER AM ON A.APPROVER_NO = AM.NO
		JOIN POSITION AP ON AP.NO = AM.POSITION_NO
		JOIN DEPARTMENT AD ON AD.NO = AM.DEPARTMENT_NO
		WHERE AD.NO = ${no}
	</select>
	
	<select id="detailApprovalAdminTrip" resultType="com.kh.app.approver.vo.AdminApproverVo">
		SELECT 
		    AD.NO AS NO,
		    AD.CREATE_DATE AS CREATE_DATE,
		    AD.TITLE AS TITLE,
		    AD.STATUS AS STATUS,
		    BTAD.START_DATE AS START_DATE,
		    BTAD.END_DATE AS END_DATE,
		    BTAD.CONTENT AS CONTENT,
		    A.APPROVER_NO AS APPROVAL_NO,
		    AD.MEMBER_NO AS MEMBER_NO,
		    M.NAME AS MEMBER_NAME,
		    P.NAME AS POSITION_NAME,
		    D.NAME AS DEPARTMENT_NAME,
		    AP.NAME AS APPROVER_POSITION_NAME,
		    AM.NAME APPROVER_NAME,
		    AD.NAME AS APPROVER_DEPARTMENT_NAME,
		    A.APPROVAL_DATE APPROVAL_DATE,
		    A.REASON AS REASON,
		    M.SIGN SIGN,
		    AM.SIGN APPROVER_SIGN,
            AD.COMPLETE_DATE COMPLETE_DATE 
		FROM APPROVAL_DOCUMENT AD
		JOIN MEMBER M ON AD.MEMBER_NO = M.NO
		JOIN BUSINESS_TRIP_APPROVAL_DOCUMENT BTAD ON AD.NO = BTAD.APPROVAL_DOCUMENT_NO
		JOIN APPROVER A ON AD.NO = A.APPROVAL_DOCUMENT_NO
		JOIN POSITION P ON P.NO = M.POSITION_NO
		JOIN DEPARTMENT D ON D.NO = M.DEPARTMENT_NO
		JOIN MEMBER AM ON A.APPROVER_NO = AM.NO
		JOIN POSITION AP ON AP.NO = AM.POSITION_NO
		JOIN DEPARTMENT AD ON AD.NO = AM.DEPARTMENT_NO
		WHERE AD.NO = ${no}
	</select>
	
	<select id="detailApprovalAdminInventory" resultType="com.kh.app.approver.vo.AdminApproverVo">
		SELECT DISTINCT
		    AD.NO AS NO,
		    AD.CREATE_DATE AS CREATE_DATE,
		    AD.TITLE AS TITLE,
		    AD.STATUS AS STATUS,
		    A.APPROVER_NO AS APPROVAL_NO,
		    AD.MEMBER_NO AS MEMBER_NO,
		    M.NAME AS MEMBER_NAME,
		    P.NAME AS POSITION_NAME,
		    D.NAME AS DEPARTMENT_NAME,
		    AP.NAME AS APPROVER_POSITION_NAME,
		    AM.NAME APPROVER_NAME,
		    AD.NAME AS APPROVER_DEPARTMENT_NAME,
		    A.APPROVAL_DATE APPROVAL_DATE,
		    A.REASON AS REASON,
		    M.SIGN SIGN,
		    AM.SIGN APPROVER_SIGN,
		    AD.COMPLETE_DATE COMPLETE_DATE
		FROM APPROVAL_DOCUMENT AD
		JOIN MEMBER M ON AD.MEMBER_NO = M.NO
		JOIN APPROVER A ON AD.NO = A.APPROVAL_DOCUMENT_NO
		JOIN POSITION P ON P.NO = M.POSITION_NO
		JOIN DEPARTMENT D ON D.NO = M.DEPARTMENT_NO
		JOIN MEMBER AM ON A.APPROVER_NO = AM.NO
		JOIN POSITION AP ON AP.NO = AM.POSITION_NO
		JOIN DEPARTMENT AD ON AD.NO = AM.DEPARTMENT_NO
		WHERE AD.NO = #{no}
	</select>
	
	<update id="AdminRefuseUpdate">
		UPDATE APPROVAL_DOCUMENT SET STATUS = 'O', REASON = #{reason}, COMPLETE_DATE = SYSDATE
		WHERE NO = ${no}
	</update>
	
	<update id="AdminApprovalUpdate">
		UPDATE APPROVAL_DOCUMENT SET STATUS = 'A', REASON = #{reason}, COMPLETE_DATE = SYSDATE
		WHERE NO = ${no}
	</update>
	

</mapper>