<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="approval">
	
	<select id="getApprovalListCnt" resultType="int">
		SELECT COUNT(*)
		FROM APPROVAL_DOCUMENT
		WHERE MEMBER_NO = #{no}
	</select>
	
	<select id="getApprovalList" resultType="com.kh.app.approval.vo.ApprovalVo">
	    SELECT DISTINCT
	        AD.NO,
	        AD.MEMBER_NO,
	        AD.CREATE_DATE,
	        AD.TITLE,
	        M.NAME AS MEMBER_NAME,
	        AD.STATUS
	    FROM APPROVAL_DOCUMENT AD
	    JOIN MEMBER M ON M.NO = AD.MEMBER_NO
	    JOIN APPROVER A ON M.NO = A.APPROVER_NO
	    WHERE MEMBER_NO = #{no}
	    ORDER BY AD.NO DESC
	</select>
	
	<!-- 출장 문서 생성 -->
	<insert id="tripBtn">
		INSERT INTO 
		APPROVAL_DOCUMENT
		(NO, MEMBER_NO, CREATE_DATE, TITLE)
		VALUES
		(SEQ_APPROVAL_DOCUMENT_NO.NEXTVAL, #{memberNo}, SYSDATE, '출장문서')
	</insert>
	
	<select id="selectMostRecentApprovalDocument" resultType="com.kh.app.approval.vo.ApprovalBtnVo">
	    SELECT * FROM APPROVAL_DOCUMENT
	    WHERE MEMBER_NO = #{memberNo}
	    ORDER BY CREATE_DATE DESC
	    FETCH FIRST 1 ROWS ONLY
	</select>
	
	<insert id="writeTrip">
		INSERT INTO
		BUSINESS_TRIP_APPROVAL_DOCUMENT
		(
			NO, 
			APPROVAL_DOCUMENT_NO,
			CONTENT,
			START_DATE,
			END_DATE
		)
		VALUES
		(
			SEQ_BUSINESS_TRIP_APPROVAL_DOCUMENT_NO.NEXTVAL,
			#{approvalDocumentNo},
			#{content},
			#{startDate},
			#{endDate}
		)
	</insert>
	
	<select id="detailTrip" resultType="com.kh.app.approval.vo.BusinessTripApprovalVo">
		SELECT 
		    AD.NO NO,
		    AD.MEMBER_NO MEMBER_NO,
		    AD.CREATE_DATE CREATE_DATE,
		    BTAD.CONTENT CONTENT,
		    BTAD.START_DATE START_DATE,
		    BTAD.END_DATE END_DATE,
		    M.NAME MEMBER_NAME,
		    M.SIGN SIGN,
		    D.NAME DEPARTMENT_NAME,
		    AD.STATUS STATUS
		FROM APPROVAL_DOCUMENT AD
		JOIN MEMBER M ON AD.MEMBER_NO = M.NO
		JOIN DEPARTMENT D ON D.NO = M.DEPARTMENT_NO
		JOIN BUSINESS_TRIP_APPROVAL_DOCUMENT BTAD ON AD.NO = BTAD.APPROVAL_DOCUMENT_NO
		WHERE AD.NO = #{no}
	</select>
	
	<!-- 휴가 문서 생성 -->
	<insert id="vacationBtn">
		INSERT INTO 
		APPROVAL_DOCUMENT
		(NO, MEMBER_NO, CREATE_DATE, TITLE)
		VALUES
		(SEQ_APPROVAL_DOCUMENT_NO.NEXTVAL, #{memberNo}, SYSDATE, '휴가문서')
	</insert>
	
	<insert id="writeVacation">
		INSERT INTO
		VACATION_APPROVAL_DOCUMENT
		(
			NO, 
			APPROVAL_DOCUMENT_NO,
			CONTENT,
			USE_DATE,
			START_DATE,
			END_DATE
		)
		VALUES
		(
			SEQ_VACATION_APPROVAL_DOCUMENT_NO.NEXTVAL,
			#{approvalDocumentNo},
			#{content},
			TO_DATE(#{endDate}, 'YYYY-MM-DD') - TO_DATE(#{startDate}, 'YYYY-MM-DD')+1,
			TO_DATE(#{startDate}, 'YYYY-MM-DD'),
			TO_DATE(#{endDate}, 'YYYY-MM-DD')
		)
	</insert>
	
	<select id="detailVacation" resultType="com.kh.app.approval.vo.VacationApprovalVo">
		SELECT 
		    AD.NO NO,
		    AD.MEMBER_NO MEMBER_NO,
		    AD.CREATE_DATE CREATE_DATE,
		    VAD.CONTENT CONTENT,
		    VAD.START_DATE START_DATE,
		    VAD.END_DATE END_DATE,
		    M.NAME MEMBER_NAME,
		    M.SIGN SIGN,
		    D.NAME DEPARTMENT_NAME,
			AD.STATUS STATUS
		FROM APPROVAL_DOCUMENT AD
		JOIN MEMBER M ON AD.MEMBER_NO = M.NO
		JOIN DEPARTMENT D ON D.NO = M.DEPARTMENT_NO
		JOIN VACATION_APPROVAL_DOCUMENT VAD ON AD.NO = VAD.APPROVAL_DOCUMENT_NO
		WHERE AD.NO = #{no}
	</select>
	
	<select id="getInventoryData" resultType="com.kh.app.inventory.vo.InventoryVo">
		SELECT 
		    I.NO,
		    ITEM_NAME,
		    CATEGORY_NO,
		    INVENTORY_COUNT
		FROM INVENTORY I
		JOIN INVENTORY_CATEGORY IG ON I.CATEGORY_NO = IG.NO
	</select>
	
	<insert id="inventoryBtn">
		INSERT INTO 
		APPROVAL_DOCUMENT
		(NO, MEMBER_NO, CREATE_DATE, TITLE)
		VALUES
		(SEQ_APPROVAL_DOCUMENT_NO.NEXTVAL, #{memberNo}, SYSDATE, '재고신청문서')
	</insert>
	
	<insert id="writeInventory">
	    INSERT INTO
	    INVENTORY_REQUEST_APPROVAL_DOCUMENT
	    (
	        NO, 
	        APPROVAL_DOCUMENT_NO,
	        CATEGORY_NO,
	        COUNT
	    )
	    VALUES
	    (
	        SEQ_INVENTORY_REQUEST_APPROVAL_DOCUMENT_NO.NEXTVAL,
	        #{approvalDocumentNo},
	        #{categoryNo},
	        #{count}
	    )
	</insert>
	
	<select id="detailInventory" resultType="com.kh.app.inventory.vo.InventoryVo">
		SELECT DISTINCT
		    AD.NO NO,
		    AD.MEMBER_NO MEMBER_NO,
		    AD.CREATE_DATE CREATE_DATE,
		    M.NAME MEMBER_NAME,
		    M.SIGN SIGN,
		    D.NAME DEPARTMENT_NAME,
		    AD.STATUS STATUS
		FROM APPROVAL_DOCUMENT AD
		JOIN MEMBER M ON AD.MEMBER_NO = M.NO
		JOIN DEPARTMENT D ON D.NO = M.DEPARTMENT_NO
		JOIN INVENTORY_REQUEST_APPROVAL_DOCUMENT IRAD ON AD.NO = IRAD.APPROVAL_DOCUMENT_NO
		WHERE AD.NO = ${no}
	</select>
	
	<select id="detailInventoryItems" resultType="com.kh.app.inventory.vo.InventoryVo">
		SELECT 
		    AD.NO NO,
		    IC.ITEM_NAME ITEM_NAME,
		    IRAD.COUNT COUNT
		FROM APPROVAL_DOCUMENT AD
		JOIN MEMBER M ON AD.MEMBER_NO = M.NO
		JOIN DEPARTMENT D ON D.NO = M.DEPARTMENT_NO
		JOIN INVENTORY_REQUEST_APPROVAL_DOCUMENT IRAD ON AD.NO = IRAD.APPROVAL_DOCUMENT_NO
		JOIN INVENTORY_CATEGORY IC ON IC.NO = IRAD.CATEGORY_NO
		WHERE AD.NO = #{no}
	</select>
	
</mapper>