<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="approval">
	
	<select id="getAttendanceListCnt" resultType="int">
		SELECT COUNT(*)
		FROM APPROVER
		WHERE APPROVER_NO = #{no}
	</select>
	
	<select id="getAttendanceList" resultType=""></select>
	
</mapper>