<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatting">
	<select id="getChattingList" resultType="com.kh.app.chatting.vo.ChattingVo">
		SELECT
		  C.NO AS CHATTING_ROOM_NO,
		  CHATTING_NO, 
		  SENDER_NO, RECEIVER_NO,
		  SENDER_STATUS, RECEIVER_STATUS,
		  SENDER_M.NAME AS SENDER_NAME,
		  SENDER_M.PROFILE AS SENDER_PROFILE,
		  RECEIVER_M.NAME AS RECEIVER_NAME,
		  RECEIVER_M.PROFILE AS RECEIVER_PROFILE,
		  SENDER_D.NAME AS SENDER_DEPARTMENT_NAME, SENDER_P.NAME AS SENDER_POSITION_NAME, 
		  RECEIVER_D.NAME AS RECEIVER_DEPARTMENT_NAME, RECEIVER_P.NAME AS RECEIVER_POSITION_NAME
          , RECEIVER_A.STATUS AS RECEIVER_ATTENDANCE_STATUS
		FROM CHATTING_ROOM C
		JOIN MEMBER SENDER_M ON C.SENDER_NO = SENDER_M.NO
		JOIN MEMBER RECEIVER_M ON C.RECEIVER_NO = RECEIVER_M.NO
		JOIN POSITION SENDER_P ON SENDER_M.POSITION_NO = SENDER_P.NO
		JOIN POSITION RECEIVER_P ON RECEIVER_M.POSITION_NO = RECEIVER_P.NO
		JOIN DEPARTMENT SENDER_D ON SENDER_M.DEPARTMENT_NO = SENDER_D.NO
		JOIN DEPARTMENT RECEIVER_D ON RECEIVER_M.DEPARTMENT_NO = RECEIVER_D.NO
        JOIN ATTENDANCE RECEIVER_A ON RECEIVER_M.NO = RECEIVER_A.MEMBER_NO
		WHERE (SENDER_NO = #{memberNo} OR RECEIVER_NO = #{memberNo}) 
		  AND SENDER_STATUS = 'O' 
		  AND RECEIVER_STATUS = 'O'
	</select>
	
	<!-- <select id="searchMember" resultType="com.kh.app.member.vo.MemberVo">
		
	</select> -->
</mapper>