<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatting">
	<select id="getChattingList" resultType="com.kh.app.chatting.vo.ChattingVo">
		SELECT DISTINCT
		  C.NO AS CHATTING_ROOM_NO, 
		  SENDER_NO, RECEIVER_NO,
		  SENDER_STATUS, RECEIVER_STATUS,
		  SENDER_M.NAME AS SENDER_NAME,
		  SENDER_M.PROFILE AS SENDER_PROFILE,
		  RECEIVER_M.NAME AS RECEIVER_NAME,
		  RECEIVER_M.PROFILE AS RECEIVER_PROFILE,
		  SENDER_D.NAME AS SENDER_DEPARTMENT_NAME, SENDER_P.NAME AS SENDER_POSITION_NAME, 
		  RECEIVER_D.NAME AS RECEIVER_DEPARTMENT_NAME, RECEIVER_P.NAME AS RECEIVER_POSITION_NAME
          , RECEIVER_A.STATUS AS RECEIVER_ATTENDANCE_STATUS
          , SENDER_A.STATUS AS SENDER_ATTENDANCE_STATUS
		FROM CHATTING_ROOM C
		JOIN MEMBER SENDER_M ON C.SENDER_NO = SENDER_M.NO
		JOIN MEMBER RECEIVER_M ON C.RECEIVER_NO = RECEIVER_M.NO
		JOIN POSITION SENDER_P ON SENDER_M.POSITION_NO = SENDER_P.NO
		JOIN POSITION RECEIVER_P ON RECEIVER_M.POSITION_NO = RECEIVER_P.NO
		JOIN DEPARTMENT SENDER_D ON SENDER_M.DEPARTMENT_NO = SENDER_D.NO
		JOIN DEPARTMENT RECEIVER_D ON RECEIVER_M.DEPARTMENT_NO = RECEIVER_D.NO
        LEFT JOIN ATTENDANCE RECEIVER_A ON RECEIVER_M.NO = RECEIVER_A.MEMBER_NO
        LEFT JOIN ATTENDANCE SENDER_A ON SENDER_M.NO = SENDER_A.MEMBER_NO
		WHERE (SENDER_NO = #{memberNo} OR RECEIVER_NO = #{memberNo}) 
		AND SENDER_STATUS = 'O' 
		AND RECEIVER_STATUS = 'O'
		<if test="searchValue != null and searchValue != ''">
			AND (SENDER_M.NAME LIKE '%${searchValue}%' OR RECEIVER_M.NAME LIKE '%${searchValue}%')
		</if>
		ORDER BY C.NO DESC
	</select>
	
	<select id="searchMember" resultType="com.kh.app.member.vo.MemberVo">
		SELECT DISTINCT M.NO, M.NAME, M.PROFILE, D.NAME AS DEPARTMENT_NAME, P.NAME AS POSITION_NAME, A.STATUS AS ATTENDANCE_STATUS 
		FROM MEMBER M 
		JOIN DEPARTMENT D 
		ON D.NO = M.DEPARTMENT_NO 
		JOIN POSITION P 
		ON P.NO = M.POSITION_NO
        LEFT OUTER JOIN ATTENDANCE A
        ON M.NO = A.MEMBER_NO 
		 WHERE M.NAME =  #{searchInput}
	</select>
	
	<insert id="createNewChatRoom">
		INSERT INTO CHATTING_ROOM(NO, SENDER_NO, RECEIVER_NO)
		VALUES(SEQ_CHATTING_ROOM_NO.NEXTVAL, #{senderNo}, #{receiverNo})
	</insert>
	
	<select id="getReceiverInfo" resultType="com.kh.app.member.vo.MemberVo">
		SELECT M.NO, M.NAME, M.PROFILE, P.NAME AS POSITION_NAME, D.NAME AS DEPARTMENT_NAME, A.STATUS AS ATTENDACE_STATUS
		FROM MEMBER M JOIN POSITION P ON M.POSITION_NO = P.NO
		LEFT JOIN DEPARTMENT D ON M.DEPARTMENT_NO = D.NO
		LEFT JOIN ATTENDANCE A ON M.NO = A.MEMBER_NO
		WHERE M.NO = #{receiverNo}
	</select>
	
	<select id="getChattingRoomNo" resultType="com.kh.app.chatting.vo.ChattingVo">
		SELECT NO AS CHATTING_ROOM_NO FROM CHATTING_ROOM WHERE SENDER_NO = #{senderNo} AND RECEIVER_NO = #{receiverNo}
	</select>
	
	<insert id="saveMessage">
		 INSERT INTO CHATTING(NO, ROOM_NO, WRITER_NO, MESSENGER_CONTENT, MAIL_ENROLL_DATE, CONFIRM_YN, DELETE_YN) 
		VALUES(SEQ_CHATTING_NO.NEXTVAL, #{chattingRoomNo}, #{writerNo}, #{messengerContent}, #{mailEnrollDate}, 'N', 'N')
	</insert>
	
	<select id="getChattingDetail" resultType="com.kh.app.chatting.vo.ChattingVo">
		SELECT DISTINCT
		  C.NO AS CHATTING_NO,
		  C.ROOM_NO AS CHATTING_ROOM_NO,
		  C.WRITER_NO,
		  C.MESSENGER_CONTENT,
		  C.MAIL_ENROLL_DATE,
		  C.CONFIRM_YN,
		  C.DELETE_YN,
		  R.SENDER_NO,
		  R.RECEIVER_NO,
		  R.SENDER_STATUS,
		  R.RECEIVER_STATUS,
		  S.NAME AS SENDER_NAME,
		  S_DEP.NAME AS SENDER_DEPARTMENT_NAME,
		  S_POS.NAME AS SENDER_POSITION_NAME,
		  S_ATT.STATUS AS SENDER_ATTENDANCE_STATUS,
		  S.PROFILE AS SENDER_PROFILE,
		  RCV.NAME AS RECEIVER_NAME,
		  RCV_DEP.NAME AS RECEIVER_DEPARTMENT_NAME,
		  RCV_POS.NAME AS RECEIVER_POSITION_NAME,
		  RCV_ATT.STATUS AS RECEIVER_ATTENDANCE_STATUS,
		  RCV.PROFILE AS RECEIVER_PROFILE
		FROM
		  CHATTING_ROOM R
		JOIN MEMBER S ON S.NO = R.SENDER_NO
		JOIN POSITION S_POS ON S_POS.NO = S.POSITION_NO
		JOIN DEPARTMENT S_DEP ON S_DEP.NO = S.DEPARTMENT_NO
		LEFT JOIN ATTENDANCE S_ATT ON S_ATT.MEMBER_NO = S.NO
		JOIN MEMBER RCV ON RCV.NO = R.RECEIVER_NO
		JOIN POSITION RCV_POS ON RCV_POS.NO = RCV.POSITION_NO
		JOIN DEPARTMENT RCV_DEP ON RCV_DEP.NO = RCV.DEPARTMENT_NO
		LEFT JOIN ATTENDANCE RCV_ATT ON RCV_ATT.MEMBER_NO = RCV.NO
		LEFT JOIN CHATTING C ON R.NO = C.ROOM_NO
		WHERE
		  R.NO = #{chattingRoomNo}
		  <!-- AND C.DELETE_YN = 'N' -->
		
	</select>
	
	<update id="quitChatting">
		UPDATE CHATTING_ROOM SET SENDER_STATUS = 'X' WHERE NO = #{chattingRoomNo}
	</update>
	
	<select id="selectCountOfChatting" resultType="int">
		SELECT COUNT(C.NO) FROM CHATTING C JOIN CHATTING_ROOM R ON R.NO = C.ROOM_NO
		WHERE R.NO = #{chattingRoomNo}
		AND NOT C.WRITER_NO = #{memberNo}
	</select>
</mapper>