<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inquiry">
	<!-- 공지사항 조회 -->
	<select id="inquiryList" resultType="com.kh.app.board.vo.InquiryVo">
		SELECT 
			NO
			,MEMBER_NO
			,TITLE
			,CONTENT
			,ENROLL_DATE
			,MODIFY_DATE
			,INQUIRY_STATUS
		FROM INQUIRY
		<if test="searchType == 'title' and searchValue != '' and searchValue != null">		
		WHERE ${searchType} LIKE '%${searchValue}%'
		</if>
		
		ORDER BY NO DESC
	</select>
	
	<select id="getListCnt" resultType="int">
		SELECT COUNT(*)
		FROM INQUIRY
		<where>
	        <if test="searchType == 'title' and searchValue != '' and searchValue != null">
	            AND TITLE LIKE '%${searchValue}%'
	        </if>
	
	        
	    </where>
	</select>
	
	<select id="inquiryDetail" resultType="com.kh.app.board.vo.InquiryVo">
		SELECT
			NO
			,MEMBER_NO
			,TITLE
			,CONTENT
			,ENROLL_DATE
			,MODIFY_DATE
			,INQUIRY_STATUS
		FROM INQUIRY
		WHERE NO = #{no}
	</select>
	
	<select id="inquiryReply" resultType="com.kh.app.board.vo.InquiryVo">
		SELECT 
			IR.NO
			,INQUIRY_NO
			,ADMIN_NO
			,IR.CONTENT
			,IR.ENROLL_DATE
			,IR.MODIFY_DATE
			,DELETE_YN
            ,M.NO AS MNO
		FROM INQUIRY_REPLY IR
        JOIN INQUIRY IQ ON IQ.NO = IR.INQUIRY_NO
        JOIN MEMBER M ON M.NO = IQ.MEMBER_NO
		WHERE INQUIRY_NO= #{no}
		AND DELETE_YN = 'N'
	</select>
	
	<insert id="inquiryUpdate">
		UPDATE INQUIRY SET
		TITLE = #{title}
		,CONTENT = #{content}
		WHERE NO = #{no}
	</insert>
	
	<insert id="inquiryWrite">
		INSERT INTO INQUIRY
		(
			NO
			,MEMBER_NO
			,TITLE
			,CONTENT
			,INQUIRY_STATUS
		)
		VALUES
		(
			SEQ_NOTICE_NO.NEXTVAL
			,#{memberNo}
			,#{title}
			,#{content}
			,'O'
		)
		
	
	</insert>
	
	<insert id="replyWrite">
		INSERT INTO INQUIRY_REPLY
		(
			NO
			,INQUIRY_NO
			,ADMIN_NO
			,CONTENT
		)
		VALUES
		(
			SEQ_NOTICE_REPLY_NO.NEXTVAL
			,#{inquiryNo}
			,'1'
			,#{content}
		)
		
	</insert>
	
	<update id="inquiryReplyUpdate">
		UPDATE INQUIRY_REPLY SET
		CONTENT = #{content}
		WHERE NO = #{no}
	</update>
	
	<update id="inquiryReplyDelete">
		UPDATE INQUIRY_REPLY SET
		DELETE_YN = 'Y'
		WHERE NO = #{no}
	</update>
</mapper>