<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="inventory">
   <select id="getBoardCnt" resultType="int">
      SELECT COUNT(NO) FROM INVENTORY
      <if test="searchType != null and searchType != '' and searchValue != null and searchValue != ''">		
	  WHERE ${searchType} LIKE '%${searchValue}%'
	  </if>
   </select>

   <select id="selectBoardList" resultType="com.kh.app.inventory.vo.InventoryVo">
      SELECT
    I.NO, I.CATEGORY_NO, I.INVENTORY_COUNT, IC.ITEM_NAME 
    FROM INVENTORY I
    JOIN INVENTORY_CATEGORY IC
    ON IC.NO = I.CATEGORY_NO
      <if test="searchType != null and searchType != '' and searchValue != null and searchValue != ''">		
	  AND ${searchType} LIKE '%${searchValue.toString()}%'
	  </if>
   </select>
	
	<select id="getInventoryByNo" resultType="com.kh.app.inventory.vo.InventoryVo">
	 
	 	SELECT
			NO,
			MEMBER_NO,
			TITLE,
			CONTENT,
			ENROLL_DATE,
			MODIFY_DATE,
			STATUS
		FROM INVENTORY
		WHERE NO = ${no}
	 
	 </select>
	  
	  
	  <select id="selectStoreList" resultType="com.kh.app.inventory.vo.InventoryVo">
		  SELECT
		    I.NO, I.CATEGORY_NO, I.INVENTORY_COUNT, IC.ITEM_NAME, A.APPROVAL_DATE, IRAD.COUNT
		    FROM INVENTORY I
		    JOIN INVENTORY_CATEGORY IC ON IC.NO = I.CATEGORY_NO
		    JOIN INVENTORY_REQUEST_APPROVAL_DOCUMENT IRAD ON IC.NO = IRAD.CATEGORY_NO
		    JOIN APPROVAL_DOCUMENT AD ON IRAD.APPROVAL_DOCUMENT_NO = AD.NO
		    JOIN APPROVER A ON AD.NO = A.APPROVAL_DOCUMENT_NO
            WHERE AD.STATUS = 'A'
	  </select>
	  
	 <update id="delete">
	    UPDATE PROCEEDING
		SET STATUS = 'X'
		WHERE NO = ${no}
   </update>
   
   <update id="edit">
	    UPDATE PROCEEDING
		SET
			TITLE = #{title},
			CONTENT = #{content},
			MODIFY_DATE = SYSDATE
		WHERE NO = ${no}
   </update>
	
</mapper>