<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mail">
	<select id="searchEmail" resultType="com.kh.app.member.vo.MemberVo">
		SELECT M.NO, D.NAME AS DEPARTMENT_NAME, P.NAME AS POSITION_NAME, M.NAME, M.EMAIL 
		FROM MEMBER M 
		JOIN DEPARTMENT D 
		ON M.DEPARTMENT_NO = D.NO 
		JOIN POSITION P 
		ON P.NO = M.POSITION_NO 
		WHERE M.NAME= #{name}
		AND STATUS = 'O'
	</select>
	
	<select id="getAllMembers" resultType="com.kh.app.member.vo.MemberVo">
		SELECT M.NO, D.NAME AS DEPARTMENT_NAME, P.NAME AS POSITION_NAME, M.NAME, M.EMAIL 
		FROM MEMBER M 
		JOIN DEPARTMENT D 
		ON M.DEPARTMENT_NO = D.NO 
		JOIN POSITION P 
		ON P.NO = M.POSITION_NO 
		WHERE STATUS = 'O'
	</select>
</mapper>