<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orgChart">
   
    <select id="getList" resultType="com.kh.app.organization.vo.OrgVo">
      SELECT 
	      M.NAME as mname,
	      D.NAME AS dname,
	      P.NAME AS position,
	      M.PHONE_NUMBER,
	      M.EMAIL
      FROM MEMBER M
	  JOIN DEPARTMENT D
	  ON M.DEPARTMENT_NO = D.NO
	  JOIN POSITION P
	  ON M.POSITION_NO = P.NO
      WHERE M.POSITION_NO = 1
      AND M.STATUS = 'O'
      ORDER BY M.NO
     
	</select>

	
	
</mapper>